<div class="row nmhxs">
  <div class="col-sm-6 col-sm-offset-3 phxs text-center">
    <div class="phl mtl">
      <%= image_tag "logo.png", class: "img-responsive" %>
    </div>
    <div class="mts c-red fsxl fwxl text-center">
      More fun, no pressure
    </div>
    <%= link_to "/auth/facebook" do %>
      <div class="mtxl bg-facebook-blue c-14 c-16-hover fwl fsxl dvxl bras full-width">
        <table class="mha full-height">
          <tr>
            <td class="phxs">
              <i class="fa fa-facebook fsxxxxl"></i>
            </td>
            <td class="phxs">
              Sign in with Facebook
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>